<!-- <ul class="list-group">
    <li (click)="setCurrentBrandNull()" [class]="setAllBrandButton()" routerLink="">Tüm Renkler</li>
    <li (click)="setCurrentBrand(brand)"
    routerLink="/cars/brandId/{{brand.brandId}}"
    *ngFor="let brand of brands"
    [class]="sengModelChangetCurrentBrandButton(brand)">{{brand.brandName}}</li>
</ul> -->
<select (keyup)="handleKeyup($event)" (change)="selectBrand($event)" class="form-select" aria-label="Default select example">
    <option selected value="" value="brandId"  [value]="'NotSelected'">Select Brand</option>
    <option *ngFor="let brand of brands" value="brandId" [value]="brand.brandId">{{brand.brandName}}</option>>
  </select>
  <input type="text" [value]="brandId" (keyup)="handleKeyup($event)" />
<div>{{brandId}}</div>
x